
.container
  .row
    = form_for @home, html: { class: "form-horizontal", role: "form" } do |f|
      -if @home.errors.any?
        .alert.alert-danger.alert-dismissable{role: "alert"}
          %button.close{type: "button", data: {dismiss: "alert"} }
            %span{aria: {hidden: "true"} } &times;
            %span.sr-only Close
          %h4= "#{pluralize(@home.errors.count, "error")} prohibited this home from being saved:"

          %ul
            - @home.errors.full_messages.each do |msg|
              %li= msg

      .page-header.newhome_button
        = link_to new_home_path, class: 'btn btn-primary pull-right' do
          %span.glyphicon.glyphicon-plus
          New Home

      .form
      .list-group.jaz-list-group
        .list-group-item.jaz-list-group-item
          = f.label :address, class: 'label'
          = f.text_field :address, class: 'input'
        .list-group-item.jaz-list-group-item
          = f.label :description, class: 'label'
          = f.text_field :description, class: 'input'
        .list-group-item.jaz-list-group-item
          = f.label :number_of_bedrooms, class: 'label'
          = f.number_field :number_of_bedrooms, class: 'input'
        .list-group-item.jaz-list-group-item
          = f.label :number_of_bathrooms, class: 'label'
          = f.number_field :number_of_bathrooms
        .list-group-item.jaz-list-group-item
          = f.label :square_foot, class: 'label'
          = f.number_field :square_foot
        .list-group-item.jaz-list-group-item
          = f.label :price, class: 'label'
          = f.number_field :price
        .list-group-item.jaz-list-group-item.for_checkbox
          = f.label :swimming_pool, class: 'label'
          = f.check_box :swimming_pool
        .list-group-item.jaz-list-group-item.for_checkbox
          = f.label :parking_garage
          = f.check_box :parking_garage
        .list-group-item.jaz-list-group-item.garage_radio
          = f.label :parking_garage_type
          %input#option1{:type => "radio", :value => "Attached", class: "radio-inline"}
          Attached
          %input#option2{:type => "radio", :value => "Detached", class: "radio-inline"}
          Detached
          %input#option2{:type => "radio", :value => "Street", class: "radio-inline"}
          Street

        .list-group-item.jaz-list-group-item
          = f.label :parking_garage_size
          = f.text_field :parking_garage_size
        .list-group-item.jaz-list-group-item
          = f.label :images
          = f.attachment_field :images

        .col-sm-offset-2.col-sm-10.pull-right.button
        = f.submit class:'btn btn-primary button-styling pull-right'
